{% extends 'base/base.html' %}

{% block encabezado  %}
  Ingreso al sistema
{% endblock %}

{% block contenido %}

<form method="post">
  {% csrf_token %}
  <div class="form-group">
   <label for="username">Usuario</label>
   <input type="text" class="form-control" placeholder="Ingrese usuario" id="username" name="username">
 </div>
 <div class="form-group">
   <label for="password">Contraseña</label>
   <input type="password" class="form-control" placeholder="Ingrese Contraseña" id="password" name="password">
 </div>
 <div class="form-group">
   <a href="{% url 'password_reset' %}">No recuerdo mi contraseña</a>
   <button type="submit" class="btn btn-primary">Ingresar</button>
 </div>

</form>
{% endblock %}
