{% load static %}
<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="utf-8">

    <!-- Cargo CSS de BS local -->
    <link rel="stylesheet" href="{% static 'bootstrap/css/bootstrap.min.css' %}">

    <title> {% block title %}Altemoi{% endblock %}</title>


  </head>
  <body>
    <div class="container-fluid">

      {% block encabezado %}


        <nav class="navbar navbar-dark navbar-expand-lg bg-dark">
          <a class="navbar-brand" href="#">Altemoi</a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarNavDropdown">
            <ul class="navbar-nav">
              <li class="nav-item active">
                <a class="nav-link" href="{% url 'terminal:tablon' %}">Inicio <span class="sr-only">Inicio</span></a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="{% url 'terminal:lista_lvidaqa' %}">Terminales</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="{% url 'terminal:lista_lasom' %}">Puertas de embarque</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="{% url 'terminal:lista_lmala' %}">Plataformas</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="{% url 'terminal:lista_nmen' %}">Boleterías</a>
              </li>
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Sistema
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                  <a class="dropdown-item" href="{% url 'logout' %}">Cerrar sesión</a>
                </div>
              </li>
            </ul>
          </div>
        </nav>

      {% endblock %}

      {% block contenido %}

      {% endblock %}


      {% block pie %}
      <footer>
        <p>Altemoi</p>
      </footer>
      {% endblock %}

    </div>

    <!--Scripts de JQuery, Popper y BS -->
    <script src="{% static 'bootstrap/js/jquery-3.4.1.slim.min.js' %}"></script>
    <script src="{% static 'bootstrap/js/popper.min.js' %}"></script>
    <script src="{% static 'bootstrap/js/bootstrap.min.js' %}"></script>
    <script src="{% static 'altemoiscripts/viewsupdates.js' %}"></script>

  </body>
</html>
