    <div class="row">
    	<div class="col-md-2">
    		<h5>Puertas de embarque</h5>
    		<hr>
    		<div class="card card-body">
          {% if puertas %}
    			<a class="btn btn-primary  btn-sm btn-block" href="{% url 'terminal:nueva_lasom' %}">Crear puerta de embarque</a>
          {% else %}
          <a class="btn btn-danger  btn-sm btn-block" href="{% url 'terminal:nueva_lasom' %}">Crear puerta de embarque</a>
          {% endif %}
    			<table class="table table-sm">
    				<tr>
    					<th>Identificación</th>
              <th>Acciones</th>
    				</tr>
            <tbody>
              <!-- Veo si hay registros de terminales para mostrar-->

                {% for puerta in puertas %}
                  <tr>
                    <td>{{puerta.denominacion}}</td>
                    <td>
                      <div class="dropdown">
                       <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown">
                         Acciones
                       </button>
                       <div class="dropdown-menu">
                           <a class="dropdown-item" href="{% url 'terminal:editar_lasom' puerta.id %}">Editar</a>
                           <a class="dropdown-item" href="{% url 'terminal:eliminar_lasom' puerta.id %}">Eliminar</a>
                       </div>
                     </div>
                    </td>
                  </tr>
                {% endfor %}

            </tbody>
    			</table>
    		</div>
    	</div>
