<!-- Veo si hay registros de terminales para mostrar-->

<table id="listadoTerminal" class='table table-striped'>
  <thead>
    <tr>
      <td>#</td>
      <td>Denominación</td>
      <td>Domicilio</td>
      <td>Teléfono</td>
      <td>Correo electrónico</td>
      <td>ID Impositivo</td>
      <td>Acciones</td>
    </tr>
  </thead>
  <tbody>




  {% for terminal in terminales %}
    <tr>
      <td>{{terminal.id}}</td>
      <td>{{terminal.denominacion}}</td>
      <td>{{terminal.domicilio}}</td>
      <td>{{terminal.telefono}}</td>
      <td>{{terminal.email}}</td>
      <td>{{terminal.nro_impositivo}}</td>
        <!-- Botonera -->

        <td>
        	<div class="dropdown">
        		<button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown">
        		 Acciones
        		</button>
        		<div class="dropdown-menu">
        				<a class="dropdown-item" href="{% url 'terminal:editar_lvidaqa' terminal.id %}">Editar</a>
        				<a class="dropdown-item" href="{% url 'terminal:eliminar_lvidaqa' terminal.id %}">Eliminar</a>
        		</div>

        </div>
        </td>

    </tr>
  {% endfor %}

</tbody>
</table>
