
    <div class="col-md-7">
      <h5>Boleterías</h5>
      <hr>
      <div class="card card-body">
        {% if boleterias %}
          <a class="btn btn-primary  btn-sm btn-block" href="{% url 'terminal:nueva_nmen' %}">Crear boletería</a>
        {% else %}
          <a class="btn btn-danger  btn-sm btn-block" href="{% url 'terminal:nueva_nmen' %}">Crear boletería</a>
        {% endif %}
        <table class="table table-sm">
          <tr>
            <td>Terminal</td>
            <td>Identificador</td>
            <td>Teléfono público</td>
            <td>Interno</td>
            <td>Correo electrónico</td>
            <td>Persona contacto</td>
            <td>Teléfono urgencia</td>
            <td>Estado</td>
          </tr>
          <tbody>

            {% for boleteria in boleterias %}

              <tr>
                <td>{{boleteria.terminal.denominacion}}</td>
                <td>{{boleteria.numeroID}}</td>
                <td>{{boleteria.telefono}}</td>
                <td>{{boleteria.internoTelefono}}</td>
                <td>{{boleteria.email}}</td>
                <td>{{boleteria.nombreContacto}}</td>
                <td>{{boleteria.telefonoEmergencia}}</td>
                <td>{{boleteria.status.denominacion}}</td>
                <td>
                  <div class="dropdown">
                   <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown">
                     Acciones
                   </button>
                   <div class="dropdown-menu">
                       <a class="dropdown-item" href="{% url 'terminal:editar_nmen' boleteria.id %}">Editar</a>
                       <a class="dropdown-item" href="{% url 'terminal:eliminar_nmen' boleteria.id %}">Eliminar</a>
                   </div>

                </div>
                </td>
              </tr>
            {% endfor %}
          </tbody>

        </table>
      </div>
    </div>
