{% extends 'base/base.html' %}

{% block contenido %}
<form method="post">
  {% csrf_token %}
  <h3>¿Desea eliminar la plataforma ID {{ object.numeroID }}, denominación {{object.denominacion}}?</h3>
  <button class= "btn btn-danger" type="submit" name="button">Eliminar</button>
  <a class= "btn btn-primary" href="{% url 'terminal:lista_lmala' %}">Cancelar</a>
</form>

{% endblock %}
