{%  extends 'base/base.html' %}

{% block contenido %}

{% include 'lvidaqa/nachaxan/lvidaqa.html' %}

<div class="row">


	<div class="col">
		<div class="col-md">
			<div class="card text-center text-dark  mb-3" id="total-orders">
			  	<div class="card-header">
			  		<h5 class="card-title">Arribos</h5>
			  	</div>
			  	<div class="card-body">
			    	<h3 class="card-title"></h3>
			  	</div>
			</div>
		</div>
	</div>

	<div class="col">
		<div class="col-md">
			<div class="card text-center text-dark  mb-3" id="orders-delivered">
			  	<div class="card-header">
			  		<h5 class="card-title">Partidas</h5>
			  	</div>
			  	<div class="card-body">
			    	<h3 class="card-title"></h3>
			  	</div>
			</div>
		</div>
	</div>

	<div class="col">
		<div class="col-md">
			<div class="card text-center text-dark  mb-3" id="orders-pending">
			  	<div class="card-header">
			  		<h5 class="card-title">Arribos pendientes</h5>
			  	</div>
			  	<div class="card-body">
			    	<h3 class="card-title"></h3>
			  	</div>
			</div>
		</div>
	</div>
</div>

  {% include 'lvidaqa/nachaxan/lasom.html' %}

	{% include 'lvidaqa/nachaxan/lmala.html' %}

</div>
{% endblock contenido %}
