{%  extends 'base/base.html' %}

{% block contenido %}

<table id="listadoPlataformas" class='table table-striped'>
  <thead>
    <tr>
      <td>#</td>
      <td>Terminal</td>
      <td>Identificador</td>
      <td>Denominación</td>
      <td>Puerta embarque</td>
    </tr>
  </thead>
  <tbody>
    <!-- Veo si hay registros de terminales para mostrar-->
    {% if object_list %}
      {% for plataforma in object_list %}
        <tr>
          <td>{{plataforma.id}}</td>
          <td>{{plataforma.terminal.denominacion}}</td>
          <td>{{plataforma.numeroID}}</td>
          <td>{{plataforma.denominacion}}</td>
          <td>{{plataforma.puertaembarque.denominacion}}</td>
          <td>
            <div class="dropdown">
             <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown">
               Acciones
             </button>
             <div class="dropdown-menu">
                 <a class="dropdown-item" href="{% url 'terminal:editar_lmala' plataforma.id %}">Editar</a>
                 <a class="dropdown-item" href="{% url 'terminal:eliminar_lmala' plataforma.id %}">Eliminar</a>
             </div>

          </div>
          </td>
        </tr>
      {% endfor %}
    {% else %}
    <h1>No hay plataformas registradas en el sistema</h1>
    <a class="btn btn-outline-success" href="{% url 'terminal:nueva_lmala' %}">Agregar plataforma</a>
    {% endif %}
  </tbody>
</table>

{% endblock %}
