{%  extends 'base/base.html' %}

{% block contenido %}

<table id="listadoPuertas" class='table table-striped'>
  <thead>
    <tr>
      <td>#</td>
      <td>Terminal</td>
      <td>Denominación/Número/Letra puerta de embarque</td>
      <td>Acciones</td>
    </tr>
  </thead>
  <tbody>
    <!-- Veo si hay registros de terminales para mostrar-->
    {% if object_list %}
      {% for puerta in object_list %}
        <tr>
          <td>{{puerta.id}}</td>
          <td>{{puerta.terminal.denominacion}}</td>
          <td>{{puerta.denominacion}}</td>
          <td>
            <div class="dropdown">
             <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown">
               Acciones
             </button>
             <div class="dropdown-menu">
                 <a class="dropdown-item" href="{% url 'terminal:editar_lasom' puerta.id %}">Editar</a>
                 <a class="dropdown-item" href="{% url 'terminal:eliminar_lasom' puerta.id %}">Eliminar</a>
             </div>

          </div>
          </td>
        </tr>
      {% endfor %}
    {% else %}
    <h1>No hay puertas de embarque registradas en el sistema</h1>
    <a class="btn btn-outline-success" href="{% url 'terminal:nueva_lasom' %}">Agregar puerta de embarque</a>
    {% endif %}
  </tbody>
</table>

{% endblock %}
