{%  extends 'base/base.html' %}

{% block contenido %}

<table id="listadoBoleterias" class='table table-striped'>
  <thead>
    <tr>
      <td>#</td>
      <td>Terminal</td>
      <td>Identificador</td>
      <td>Teléfono público</td>
      <td>Interno</td>
      <td>Correo electrónico</td>
      <td>Persona contacto</td>
      <td>Teléfono urgencia</td>
      <td>Estado</td>
    </tr>
  </thead>
  <tbody>
    <!-- Veo si hay registros de boleterías para mostrar-->
    {% if object_list %}
      {% for boleteria in object_list %}
        <tr>
          <td>{{boleteria.id}}</td>
          <td>{{boleteria.terminal.denominacion}}</td>
          <td>{{boleteria.numeroID}}</td>
          <td>{{boleteria.telefono}}</td>
          <td>{{boleteria.internoTelefono}}</td>
          <td>{{boleteria.email}}</td>
          <td>{{boleteria.nombreContacto}}</td>
          <td>{{boleteria.telefonoEmergencia}}</td>
          <td>{{boleteria.status.denominacion}}</td>
          <td>
            <div class="dropdown">
             <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown">
               Acciones
             </button>
             <div class="dropdown-menu">
                 <a class="dropdown-item" href="{% url 'terminal:editar_nmen' boleteria.id %}">Editar</a>
                 <a class="dropdown-item" href="{% url 'terminal:eliminar_nmen' boleteria.id %}">Eliminar</a>
             </div>

          </div>
          </td>
        </tr>
      {% endfor %}
    {% else %}
    <h1>No hay boleterías registradas en el sistema</h1>
    <a class="btn btn-outline-success" href="{% url 'terminal:nueva_nmen' %}">Agregar boletería</a>
    {% endif %}
  </tbody>
</table>

{% endblock %}
